NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAvDyhRmL5Mm9YA510pCih2MC26K_s9oZQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ai-quiz-f3cf5.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ai-quiz-f3cf5
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ai-quiz-f3cf5.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=798621084704
NEXT_PUBLIC_FIREBASE_APP_ID=1:798621084704:web:c828cc6bcf979a7c206045
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KKSLD1VF42
